:root {
  --primary: #bd3a44;
  --body: #333;
}

html {
  font-family: hero-new, Arial, Helvetica, sans-serif;
  color: var(--body);
}

body {
  margin: 0;
}

h1,
h2,
h3 {
  font-family: hero-new, Arial, Helvetica, sans-serif;
  font-weight: 900;
}
h1 {
  font-size: 64px;
}

h2 {
  font-size: 48px;
}

main {
  padding-top: 100px;
}

nav {
  background: var(--primary);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

img.logo {
  height: 40px;
  margin-right: auto;
}

nav a,
nav a:visited {
  color: #fff6a3;
  text-decoration: none;
  margin: 0 20px;
  font-weight: bold;
}

nav .content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.content {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

iframe {
  max-width: 100%;
  min-width: 100%;
}

section {
  margin-bottom: 40px;
}

section.video-panel {
  padding-top: 20px;
  padding-bottom: 50px;
  background: #ffedee;
}

@media (max-width: 900px) {
  .content {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 420px) {
  h1 {
    font-size: 48px;
  }

  nav a {
    display: none;
  }
}

li {
  margin-bottom: 10px;
}

ul {
  padding-left: 20px;
}
